{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block search %}{% endblock %}
{% block content %}

<style>
    .animated{
        animation-duration: 3s;
        animation-delay: 0.5s;
    }
</style>
<h4 class="text-center animated zoomIn" style="margin-top:7rem;">Your Shopping Cart</h4>
{% if cart|length > 0 %}
<div id="snackbar">Updated to Cart</div>
<div class="container p-0 d-lg-none mt-4" style="margin-bottom:150px;" id="money">
        
        {% for item in cart %}
        {% with product=item.product %}
       
       
        <div class="row p-2 border-bottom border-white animated pulse text-white" style="background-color: rgb(26, 37, 48);">
                
               <div class="col-5 pr-0">
                <img class="img-responsive animated infinite pulse" style="width:100%;height:130px;" src="{% if product.image %}
                {{ product.image.url }} {% else %}{{ product.urlimage }}{% endif %}" alt="Shopping...">
               </div>
               <div class="col-7" style="font-size:14px;">
                   
                   <p>{{ product.name }}<a class="float-right" href="{% url "cart:cart_remove" product.id %}" id="remove">
                        <span aria-hidden="true">X</span>
                    </a></p>
                   <p> Quantity <form action="{% url "cart:cart_add" product.id %}" method="post" class="js-book-create-form">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <button type="submit" value="Update" class="border-0 rounded-0 btn btn-sm btn-success">Update</button>
                        {% csrf_token %}
                    </form></p>
                   <p>Total Price:  ₦{{ item.total_price }}</p>
               </div>
               
            </div>
            {% endwith %}
            {% endfor %}

                 <div class="row p-2  text-white border" style="background-color: rgb(26, 37, 48);" id="mobilee">
                     <div class="col-12 p-2 pl-2 border w-100" id="mobile">

                     {% include 'includes/partial_mobile_me.html' %}

                    </div>
                        
                 </div>
                 <div class="col-12 text-white text-center" style="background-color: rgb(26, 37, 48);">
                        <h5 class="text-center mt-2 pt-3"> Use a code :</h5>
                        <form class="" action="{% url 'coupons:apply' %}" method="post" novalidate>
                            {{ coupon_apply_form }}
                            {% include 'includes/form.html' %}
                            {% csrf_token %}
                            <button class="btn btn-secondary ml-3 rounded-0" type="submit">Apply</button>
                        </form><br>
                        
                        <a href="{% url 'home' %}" class="btn rounded-0 btn-primary mb-2 animated zoomIn">Continue shopping</a> 
                        <a href="{% url "orders:order_create" %}" class="btn rounded-0 btn-md btn-success animated zoomIn mb-2">Checkout</a>
                 </div>


                 
</div>
<div class="container d-none d-md-block mt-5 table-responsive" style="margin-bottom:200px;">


<table class="table table-hover table-striped table-dark table-bordered" id="cartel">
    <thead class="thead thead-dark text-center">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Estimated price</th>
        </tr>
    </thead>
    <tbody id="detail">
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td class="align-middle text-center" style="height:100px;">
                    <img class="img-responsive float-left" style="width:130px;height:100%;" src="{% if product.image %}
                    {{ product.image.url }} {% else %}{{ product.urlimage }}{% endif %}" alt=""><p class="mt-4">{{ product.name }}</p></td>
            <td class="align-middle">
                <form action="{% url "cart:cart_add" product.id %}" method="post" class="js-update-create-form" novalidate>
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <button type="submit" value="Update" class="border-0 rounded-0 btn btn-sm btn-success">Update</button>
                    
                    {% csrf_token %}
                </form>
            </td>
            <td class="align-middle"><a class="border-0 btn btn-danger btn-sm rounded-0" href="{% url "cart:cart_remove" product.id %}" id="remove">Remove</a></td>
            <td class="text-center align-middle">₦{{ item.price }}</td>
            <td class="text-center align-middle">₦{{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        {% if cart.coupon %}
            <tr class="text-light" style="background-color:rgb(23, 26, 29);" id="sub">
                {% include 'includes/partial_sub.html' %}
            </tr>
            <tr id="coupo">
                {% include 'includes/partial_coupon.html' %}
            </tr>
            <tr class="text-light" style="background-color:rgb(23, 26, 29);" id="tots">
                    {% include 'includes/partial_remove_me.html' %}
                </tr>
            {% else %}
            <tr class="text-light" style="background-color:rgb(23, 26, 29);" id="tots">
                    {% include 'includes/partial_remove_me.html' %}
                </tr>
                
            {% endif %}
        
        
    </tbody>
    
</table>


<div class="container mt-5">
<div class="row justify-content-center">
<h5 class="text-center mt-1 animated jackInTheBox"> Apply a discount here:</h5>
<form class="col-lg-5" action="{% url 'coupons:apply' %}" method="post" novalidate>
    {{ coupon_apply_form }}
    {% include 'includes/form.html' %}
    <input class="btn btn-secondary" type="submit" value="Apply">
    {% csrf_token %}
</form>
</div></div>


<p class="text-center mt-4">
    <a href="{% url 'home' %}" class="btn rounded-0 btn-md btn-primary">Continue shopping</a>
    
    <a href="{% url "orders:order_create" %}" class="btn rounded-0 btn-md btn-success">Checkout</a>
</p>
</div>



{% else %}
<div class="container text-center mt-5" style="margin-bottom:380px;">
    <div class="alert text-center mb-5 alert-danger alert-dismissible fade show" role="alert">
         Your Cart is Empty... Go back to continue shopping
        </div>
    <a href="{% url 'home' %}" class="btn btn-primary">Continue shopping</a>  
</div>

{% endif %}
       


{% endblock %}
