{% extends "base.html" %}


{% block search %}{% endblock %}
{% block content %}




<div id="snackbar">Order has been created!!</div>
<div id="errore">Please fill in accordingly</div>

<div class="container mt-5">

    <div class="row justify-content-center" id="order_me">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="card bg-link my-5">
                <div class="card-header">
                        <h4 class="text-center text-dark card-title">Checkout</h4>
                </div>
                <div class="card-body" id="js_order">
                    
                    {% include 'includes/order_create.html' %}
                    
                </div>
               
            </div>
            

        </div>
    </div>
    
</div>






{% endblock %}