{% extends 'accounts/base_accounts.html' %}


{% block content %}
<div class="container">
<div class="row justify-content-center" style="margin-top:9rem;">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card my-5">
            <div class="card-body">
                {% if validlink %}
                <h3 class="card-title">Change password for @{{ form.user.username }}</h3>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success btn-block">Change Password</button>
                </form>
                {% else %}
                <h3 class="card-title">Reset your Password</h3>
                <div class="alert alert-danger" role="alert">
                    Looks like you clicked on an invalid password reset link
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new pass
                    word link 
                </a>
                {% endif %}


            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}