{% extends 'accounts/base_accounts.html' %}

{% load static %}

{% block content %}
<div class="container">

<div class="row justify-content-center" style="margin-top:9rem;">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card my-5">
            <div class="card-body bg-light">
                <h3 class="card-title text-center">
                    Change your Password
                </h3>
                <p>Enter your Email Address and a link will be sent to reset your password.</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-primary btn-block">
                        Send Email
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}

{% block footer %}{% endblock %}


