a{
    color: rgb(165, 174, 179);
}

a:hover{
    text-decoration: none;
    color: rgb(107, 103, 103);
}



nav #nav {
    padding-left: 20px;
}

ul .nav-item{
    padding-right:50px;
   padding-top: 8px;padding-bottom: 8px;
}

