html,
body {
  overflow-x: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.dropdown-menu{
  width:120% !important;
  border:0px !important;
}

.dropdown-menu a{
  padding-bottom: 10px;
}

.btn:focus{
  outline-color: none !important;

}
:-moz-any-link:focus {
  outline: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #ffffff !important;
  background-color: #1F2838 !important;
  border-color: #1F2838 !important;
  outline-color: none !important;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  color: #ffffff !important;
  background-color: #1F2838 !important;
  border-color: navajowhite !important;
  outline-color: none !important;
}

.dropdown-item{
  color:white !important;
}

.form-control:focus{border-color: none;  box-shadow: none; -webkit-box-shadow: none;} 

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  

  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
    width:100%;
  }
}



.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}


.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(157, 216, 149);
  color: #fff;
  text-align: center;
  border-radius: 1px;
  padding: 13px;
  position: fixed;
  z-index: 1030;
  left: 50%;
  top: 80px;
  font-size: 14px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  
}

@-webkit-keyframes fadein {
  from {top: 80px; opacity: 0;} 
  to {bottom: 80px; opacity: 1;}
}

@keyframes fadein {
  from {top: 70px; opacity: 0;}
  to {top: 80px; opacity: 1;}
}

