{% extends 'base_accounts.html' %}

{% block content %}

<div class="container">

    <div class="row justify-content-center" id="log_me">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="card bg-dark my-5">
                <div class="card-header">
                        <h4 class="text-center text-light card-title">Login</h4>

                </div>
                <div class="card-body">
                    
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <p class="text-center"><button type="submit" class="btn btn-primary btn-block">Login</button></p>
                    </form>
                    
                </div>
                <div class="card-footer text-center text-light">
                    New to our site ? <a href="{% url 'signup' %}">SignUp</a>

                </div>
                
            </div>
            <div class="text-center py-2">
                <small>
                    <a href="{% url 'password_reset' %}" class="text-light">Forgot your password?</a>
                </small>
            </div>

        </div>
    </div>
    
</div>



{% endblock %}


{% block footer %}{% endblock %}