{% extends 'base.html' %} {% load static %} 
{% block javascript %}






<script src="{% static 'js/cart.js' %}"></script>




{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/product.css' %}" /> {% endblock %} {% block content %}
<div id="snackbar">Added to Cart</div>

<div class="pman container h-100">

    <ol class="breadcrumb arr-right bg-dark w-100 py-2 px-1 mt-2 " style="font-size:13px;">


            <li class="breadcrumb-item ">
                    <a href="{% url 'home' %}" class="text-light">Home</a>
                </li>
    
                <li class="text-light breadcrumb-item">
                    {{ category.name }}
                </li>
    
                <li class="text-light breadcrumb-item active">
                    {{ sub_category.name }}
                </li>


        <li class="text-light breadcrumb-item active">
            {{ product.name }}
        </li>

    </ol>
    
    <div class="row mb-3">
            
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
            <div class="pimage" id="picture-frame">
                <img class="img-responsive" style="width:100%;" src="{% if product.image %}{{ product.image.url }}{% else %}
                    {% static 'img/chrix.jpg' %}{% endif %}" alt="">
            </div>
        </div>
        
        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
            <div class="pdetail" id="coding">
                <h4 class="text-center mt-3">{{ product.name }}</h4>

                <p>
                    {{ product.description|linebreaks }}</p>
                   
                    <hr>

                    
                <p class="price text-center mb-3" style="font-size:20px;"><strong>₦{{ product.price }}</strong>
                    <small style=" text-decoration:line-through;">₦{{ product.slashed }}</small>
                </p>

                
                <form action="{% url 'cart:cart_add' product.id %}" method="post" class="js-book-create-form">
                    <p class="text-center">{{ cart_product_form }}</p>


                    {% csrf_token %} {% include 'includes/form.html' %}
                    <p class="text-center mb-4">
                        <button type="submit" value="Add to cart" class="btn btn-secondary">Add to Cart</button>
                    </p>


                </form>
                

                <p class="text-center">
                    <a class="btn rounded-0 fa fa-twitter footer-socialicon" target="_blank" href="https://twitter.com/" style="color:rgb(56, 170, 247);"></a>
                    <a class="btn fa fa-facebook footer-socialicon" target="_blank" href="https://www.facebook.com/" style="color:rgb(42, 95, 240);"></a>
                    <a class="btn fa fa-google-plus footer-socialicon" target="_blank" href="https://plus.google.com/" style="color:rgb(199, 12, 12);"></a>
                    <a class="btn fa fa-linkedin footer-socialicon" target="_blank" href="https://plus.google.com/" style="color:rgb(52, 97, 243);"></a>
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3 justify-content-center mb-5">

        <div class="bd-example bd-example-tabs justify-content-center">
            <nav>
                <div class="nav nav-tabs  justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                        aria-selected="true">Product Details</a>
                    <a class="nav-item nav-link d-none d-sm-block" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                        aria-selected="false">Related Products</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                        aria-selected="false">Reviews</a>
                </div>
            </nav>
            <div class="tab-content bg-white" id="nav-tabContent">
                <div class="container tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-lg-7">
                                <p>Glaxo Diamond earrings are set of Lorem ipsum elements that shows you the way
                                    the way to achieve what you want nyhow you want it...</p>
                        </div>
                        <div class="col-lg-5 d-none d-sm-block ">
                                <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna
                                        duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris
                                        fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet
                                        aliquip ipsum aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in
                                        cupidatat dolore magna irure esse tempor ad mollit. Dolore commodo nulla minim amet ipsum officia
                                        consectetur amet ullamco voluptate nisi commodo ea sit eu.</p>

                        </div>
                    </div>
                </div>
                <div class="container tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna
                        duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris
                        fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet
                        aliquip ipsum aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in
                        cupidatat dolore magna irure esse tempor ad mollit. Dolore commodo nulla minim amet ipsum officia
                        consectetur amet ullamco voluptate nisi commodo ea sit eu.</p>
                </div>
                <div class="container tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p>No reviews yet.</p>
                </div>
            </div>
        </div>




    </div>










</div>



{% endblock %}

